---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import ResourceLinkPreview from "../../components/ResourcesPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

// Charger toutes les ressources depuis la collection "resources" et les trier par date de publication
const resources = (await getCollection("resources")).sort(
    (a, b) => b.data.pubDate?.valueOf() - a.data.pubDate?.valueOf(),
);
---

<BaseLayout
    title="Mes Ressources | Etienne Deneuve"
    description="Découvrez une collection de ressources utiles pour enrichir vos connaissances"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="Mes Ressources"
                tagline="Découvrez une collection de ressources que j'ai trouvées utiles et inspirantes."
                align="start"
            />
            <Grid variant="offset">
                {
                    resources.map((resource) => (
                        <li>
                            <ResourceLinkPreview resource={resource} />
                        </li>
                    ))
                }
            </Grid>
        </main>
    </div>
</BaseLayout>
