---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer class="wrapper">
  <div class="cta">
    <h2>Vous voulez travailler avec Simplifi'ed ?</h2>
    <CallToAction
      href="https://outlook.office365.com/owa/calendar/SimplifiED1@simplified.fr/bookings/"
    >
      Prenez un rendez-vous avec moi !
      <Icon icon="paper-plane-tilt" size="1.2em" />
    </CallToAction>
  </div>
  <div class="wrapper">
    <div class="group col">
      <p>
        <Icon icon="rocket-launch" size="1.2em" />
      </p>
      <p>&copy; {currentYear} Etienne Deneuve</p>
    </div>
    <p class="socials col">
      <a href="https://twitter.com/EtienneDinfo"> Twitter</a>
      <a href="https://github.com/EtienneDeneuve"> GitHub</a>
      <a href="https://linkedin.com/in/EtienneDeneuve"> Linkedin</a>
    </p>
  </div>
</footer>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  footer {
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .cta {
    &
  }

  .wrapper {
    display: flex;
  }
  .col {
    flex: 1;
    justify-content: space-between;
  }
  .group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
