---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ContactCTA from "../components/ContactCTA.astro";
import CustomStyles from "../components/CustomStyles.astro";
import CustomScripts from "../components/CustomScripts.astro";
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="fr" transition:animate="none">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot transition:animate="slide" />
      <ContactCTA />
      <Footer />
    </div>
    <CustomScripts />
    <CustomStyles />
  </body>
</html>
