---
import { slide } from "astro:transitions";

// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import CustomStyles from "../components/CustomStyles.astro";
import CustomScripts from "../components/CustomScripts.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  og?: string | undefined;
}

const { title, description, og } = Astro.props;
---

<html
  lang="fr"
  transition:animate={slide({ duration: "0.4s" })}
  prefix="og: https://ogp.me/ns#"
>
  <head>
    <MainHead
      title={title}
      description={description}
      og={og ? og : "https://etienne.deneuve.xyz/public/assets/portrait.jpg"}
    />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <!-- <ContactCTA /> -->
      <Footer />
    </div>
    <CustomScripts />
    <CustomStyles />
  </body>
</html>
